.sign-up {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h2 {
    font-size: 2.2rem;
    color: #008ecc;
  }

  .sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    label {
      font-size: 1.8rem;
    }

    input {
      padding: 1rem 1rem;
    }

    button {
      font-size: 1.8rem;

      padding: 1rem;
      background-color: #008ecc;
      color: white;
      border-radius: 5px;
      font-weight: 700;
      letter-spacing: 1.1px;
      border: none;

      cursor: pointer;

      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-1px);
        box-shadow: 1px 1px 15px 0.5px #818181;
      }
    }
  }
}
