.Hero-section-container {
  height: 42vh;
  background-color: #fff;

  position: relative;

  padding: 50px 0px;

  @media (min-width: 600px) and (max-width: 1200px) {
    padding: 20px 30px;
    height: 45vh;
  }

  @media screen and (max-width: 900px) {
    padding: 20px 10px;
    height: 27vh;
  }

  .carousel-container {
    // max-width: 120rem;
    height: 36.1rem;
    // background-color: red;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 900px) {
      height: 16.1rem;
    }

    .carousel {
      max-width: 120rem;

      height: 100%;
      border-radius: 1.6rem;

      margin: 0 atuo;

      .control-arrow {
        height: 31.1rem;
        border-radius: 1.6rem;
      }

      .banner-container {
        display: block;
        cursor: pointer;
        position: relative;
        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }

        .txt-container {
          color: #fff;
          position: absolute;
          top: 20%;
          left: 10%;
          // background-color: #008ecc;

          @media (max-width: 900px) {
            top: 14%;
            left: 10%;
          }

          @media (max-width: 900px) {
            top: 20%;
            left: 10%;
          }

          .description {
            font-size: 3rem;
            @media (max-width: 1000px) {
              font-size: 2rem;
            }

            @media (max-width: 900px) {
              font-size: 1.5rem;
            }

            @media (max-width: 900px) {
              font-size: 1.3rem;
            }
            @media (max-width: 500px) {
              font-size: 1.1rem;
            }
          }
          .title {
            color: #fff;
            font-size: 6.3rem;

            @media (max-width: 1000px) {
              font-size: 5.3rem;
            }

            @media (max-width: 900px) {
              font-size: 4.5rem;
            }
            @media (max-width: 900px) {
              font-size: 3.1rem;
            }
            @media (max-width: 500px) {
              font-size: 2.1rem;
            }
          }
          .offer {
            font-size: 3rem;
            @media (max-width: 1000px) {
              font-size: 2.3rem;
            }

            @media (max-width: 900px) {
              font-size: 1.9rem;
            }
            @media (max-width: 900px) {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}
