.checkout-page {
  padding: 4rem 6rem;

  @media (min-width: 700px) and (max-width: 1100px) {
    padding: 4rem 4rem;
  }

  @media (max-width: 705px) {
    padding: 2rem 2rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .item-container {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    // max-width: 1000px;
    // margin: 0 auto;

    img {
      max-width: 200px;
      object-fit: contain;

      @media (min-width: 700px) and (max-width: 1100px) {
        width: 20%;
      }

      @media (max-width: 520px) {
        width: 20%;
      }
    }

    display: flex;
    gap: 10rem;

    @media (min-width: 700px) and (max-width: 1100px) {
      gap: 20px;
    }

    @media (max-width: 705px) {
      gap: 15px;
    }

    .description {
      width: 270px;

      @media (min-width: 700px) and (max-width: 1100px) {
        width: 270px;
      }
      span {
        display: block;
        font-size: 1.4rem;
        color: rgb(46, 46, 46);
        font-style: italic;

        margin-bottom: 7px;
      }
      h2 {
        font-size: 2.7rem;

        @media (min-width: 700px) and (max-width: 1100px) {
          font-size: 2.1rem;
        }

        @media (max-width: 705px) {
          font-size: 1.4rem;
        }
      }
    }

    .quantity-container {
      span {
        display: block;

        font-size: 1.4rem;
        color: rgb(46, 46, 46);
        font-style: italic;
        margin-bottom: 7px;
      }

      .quantity-inner-container {
        display: flex;
        gap: 2rem;

        @media (max-width: 705px) {
          gap: 1rem;
        }

        .qunatity {
          font-size: 2.5rem;

          @media (max-width: 705px) {
            font-size: 1.8rem;
          }
        }
        svg {
          width: 2rem;
          cursor: pointer;

          @media (max-width: 705px) {
            width: 1.4rem;
          }
        }
      }
    }

    .price-container {
      span {
        display: block;

        font-size: 1.4rem;
        color: rgb(46, 46, 46);
        font-style: italic;
        margin-bottom: 7px;

        @media (min-width: 700px) and (max-width: 1100px) {
          font-size: 1.1rem;
        }

        @media (max-width: 705px) {
          font-size: 1.1rem;
        }
      }
      h2 {
        font-size: 2.7rem;

        @media (min-width: 700px) and (max-width: 1100px) {
          font-size: 2.1rem;
        }

        @media (max-width: 705px) {
          font-size: 1.6rem;
        }
      }
    }

    .remove-container {
      display: flex;
      // background-color: green;
      text-decoration: underline;
      color: rgb(248, 3, 3);

      font-size: 2rem;
      height: 3rem;

      cursor: pointer;

      @media (min-width: 700px) and (max-width: 1100px) {
        font-size: 1.4rem;
      }

      @media (max-width: 705px) {
        font-size: 1.1rem;
      }
    }
  }

  .total-separator {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .total {
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
  }

  .empty-cart-message {
    font-size: 3rem;
  }
}
