.green-btn {
  color: #fdfbf8;
  font-size: 2.4rem;
  font-weight: 600;

  border: none;
  background-color: #70908b;
  border-radius: 10px;

  padding: 2.3rem 5.45rem;
}

.lightGreen-btn {
  color: #07484a;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Open Sans";

  border: none;
  background-color: #e0eff6;
  border-radius: 6px;

  padding: 1.4rem 4.3rem;
}
