.CategorisList {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .search-container {
    transform: translateY(10px);

    position: relative;
    img {
      width: 18px;
      height: 18px;

      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
    }

    input {
      height: 75px;
      width: 80%;
      border: none;
      border-radius: 10px;
      background-color: #f0f0f0;
    }
    margin-bottom: 8rem;
  }

  .categoris-column {
    transform: translateX(20px);

    span {
      display: block;

      color: #07484a;
      font-size: 2.4rem;

      &:not(:last-child) {
        margin-bottom: 70px;
      }
    }
  }

  button {
    margin-top: 8rem;

    width: 70%;
    font-size: 1.8rem;
  }
}
