.categoriy-preview-container {
  padding: 5rem 5rem;

  h2 {
    span {
      font-size: 3rem;
      color: #222222;

      @media (max-width: 900px) {
        font-size: 2.7rem;
      }
    }
    margin-bottom: 2.5rem;
    @media (max-width: 900px) {
      margin-bottom: 1.5rem;
    }
  }

  .pdts-container {
    display: flex;
    gap: 10rem;
    overflow-x: auto;

    @media (max-width: 900px) {
      gap: 2rem;
    }

    &::-webkit-scrollbar {
      height: 15px;
      background-color: #aaaaaa;
    }

    &::-webkit-scrollbar-track {
      background-color: #aaaaaa;
      height: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #008ecc;
      border-radius: 30px;
      height: 15px;
    }
  }
}
