.category {
  color: #fdfbf8;
  text-align: center;
  background-color: #adadad;

  padding: 20% 30%;
  border-radius: 1rem;

  h3 {
    font-size: 6.4rem;
    font-family: "Playfair Display";
    font-weight: 500;
  }
}
