.cart-icon-container {
  position: relative;

  .cart-image {
  }

  .item-count {
    position: absolute;
    bottom: 0;
    background-color: white;
    color: var(--primary-color-1);
    padding: 3px;
    width: 15px;
    height: 15px;

    border-radius: 100%;

    display: flex;
    justify-content: center;
    right: -15px;
    align-items: center;
  }
}
