.header-container {
  background-color: #fff;
  padding: 2.6rem 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid #ededed;

  @media (600px < width <= 1200px) {
    background-color: #fff;
    padding: 15px 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ededed;
  }

  @media screen and (max-width: 900px) {
    background-color: #fff;
    padding: 5px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ededed;
  }

  position: relative;
  .logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    margin-right: auto;

    @media screen and (max-width: 900px) {
      display: flex;
      align-items: center;
      gap: 3px;
      cursor: pointer;

      margin-right: auto;
    }

    span {
      font-family: "Open Sans", sans-serif;
      color: #008ecc;
      font-size: 3rem;
      font-weight: 700;

      @media (600px < width <= 990px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 900px) {
        font-size: 14px;
        font-weight: 700;
      }

      transition: all 0.2s;

      &:hover {
        transform: translateY(-2px);
        text-shadow: 2px 2px 20px #b6b6b6;
      }
    }

    svg {
      transition: transform 0.5s ease-in-out;
      @media screen and (max-width: 900px) {
        transform: scale(0.5);
      }

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  .search-container {
    height: 48px;
    width: 507px;
    position: relative;
    @media screen and (max-width: 900px) {
      display: none;
    }

    svg {
      position: absolute;
      top: 30%;
      left: 3%;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    input {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      border: none;
      background-color: #f3f9fb;
      padding-left: 40px;
      padding-right: 20px;
      color: #666666;
      font-size: 1.4rem;

      @media screen and (max-width: 900px) {
        display: none;
      }

      &:focus {
        outline-color: #008ecc;
      }
    }

    position: relative;
    .search-results-container {
      display: none;

      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 50px;

      bottom: -120%;
      z-index: 10;

      .search-results-bg {
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: #cecece;
        border: 1px solid black;
        // filter: blur(3px);
      }
      .search-results-content {
        position: absolute;
        color: #000;
        z-index: 20;

        top: 50%;
        transform: translateY(-50%);

        padding-left: 40px;
        font-size: 1.6rem;
        color: #000;
        font-weight: 700;
      }

      &:hover .search-results-content {
        color: #008ecc;
      }

      &:hover .search-results-bg {
        color: #008ecc;
        background-color: #f5f5f5;
      }

      // F5F5F5
    }
  }

  .icons-container {
    display: flex;
    gap: 30px;
    align-items: center;

    .search-icon {
      &:hover {
        // border: 1px solid var(--primary-color-1);
        outline: 1px solid var(--primary-color-1);
        outline-offset: 2px;
      }
      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    .sign-in-icon-container {
      display: flex;
      color: #666666;
      font-size: 1.6rem;
      font-weight: 700;
      gap: 5px;
      align-items: center;

      @media (600px < width <= 990px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 900px) {
        font-size: 10px;
        font-weight: 700;
        gap: 5px;
      }

      &:hover {
        cursor: pointer;
        // border: 1px solid var(--primary-color-1);
        outline: 2px solid #008ecc;
        outline-offset: 5px;
      }
    }

    .cart-container {
      display: flex;
      align-items: center;

      color: #666666;
      font-size: 1.6rem;
      font-weight: 700;
      gap: 8px;

      @media screen and (max-width: 900px) {
        font-size: 11px;
        font-weight: 700;
        gap: 2px;
      }

      &:hover {
        cursor: pointer;
        // border: 1px solid var(--primary-color-1);
        outline: 2px solid #008ecc;
        outline-offset: 5px;
      }
    }
  }

  .sign-out-button {
    font-size: 1.6rem;

    background-color: #008ecc;
    color: white;
    padding: 5px 7px;
    border-radius: 5px;

    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgb(124, 124, 124);
    transition: transform 0.3s ease-in-out;

    @media screen and (max-width: 900px) {
      font-size: 10px;
      padding: 3px 8px;
      border-radius: 5px;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.activeLinkStyles {
  font-weight: 700;

  position: relative;
  &::after {
    content: "";
    height: 3px;
    width: 100%;

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--primary-color-1);

    white-space: nowrap;
  }
}

.inactiveLinkStyles {
  white-space: nowrap;

  &::after {
    content: "";
    height: 3px;
    width: 100%;

    // position: absolute;
    // bottom: -5px;
    // left: 50%;
    // transform: translateX(-50%);
    margin: 0 auto;

    background-color: var(--primary-color-1);

    white-space: nowrap;

    // transform: scale(0);
    transform: translateX(-60%);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    font-weight: 700;
    position: relative;

    &::after {
      content: "";
      height: 3px;
      width: 100%;

      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);

      margin: 0 auto;

      background-color: var(--primary-color-1);

      white-space: nowrap;
    }
  }
}

.top-navbar {
  background-color: #f5f5f5;
  font-size: 1.4rem;
  color: #666666;

  padding: 10px 150px;

  display: flex;
  align-items: center;

  @media (600px < width <= 1200px) {
    padding: 10px 40px;
  }

  @media screen and (max-width: 900px) {
    padding: 15px 40px;
    // background: red;
    font-size: 1.1rem;
  }

  .welcome-txt {
    margin-right: auto;

    span {
      color: #008ecc;
      font-weight: 700;
    }
  }
  .right-container {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 900px) {
      gap: 10px;
    }

    .delivery {
      display: flex;
      gap: 5px;
      align-items: center;
      cursor: pointer;

      @media screen and (max-width: 900px) {
        gap: 2px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 8px;
      }
    }
    .track-container {
      display: flex;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        gap: 2px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        font-size: 8px;
      }
    }
    .offers-container {
      display: flex;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color: #666666;

      @media screen and (max-width: 900px) {
        gap: 2px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        font-size: 8px;
      }
    }
  }
}
