.footer {
  height: 46.4rem;
  padding: 8rem 15rem;
  background-color: #008ecc;

  color: #fff;
  font-size: 1.8rem;

  display: flex;
  justify-content: space-between;

  @media (max-width: ) = {
    height: 30.4rem;
    padding: 3rem 2rem;
    font-size: 1rem;

    gap: 5px;
  }

  @media screen and (max-width: 900px) {
    height: 30.4rem;
    padding: 3rem 2rem;
    font-size: 1rem;

    gap: 10px;
  }

  .contacts {
    flex-basis: 30rem;

    a {
      text-decoration: none;
      color: #fff;
    }

    @media (max-width: ) = {
      flex-basis: 20%;
    }

    @media screen and (max-width: 900px) {
      gap: 0px;
      flex-basis: 20%;
    }

    .logo-container {
      display: flex;
      align-items: center;
      gap: 5px;

      cursor: pointer;
      @media screen and (max-width: 900px) {
        gap: 0px;
        flex-basis: 20%;
      }

      svg {
        transform: rotate(0deg) scale(0.8);

        @media (max-width: ) = {
          transform: scale(0.7);
        }

        @media screen and (max-width: 900px) {
          transform: scale(0.5);
        }

        transition: transform 0.5s ease-in-out;
        &:hover {
          transform: rotate(360deg) scale(0.8);
        }
      }
      span {
        font-size: 2.5rem;
        font-weight: 700;

        @media screen and (max-width: 900px) {
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
    }

    .socials-container {
      margin-top: 30px;

      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 900px) {
        margin-top: 10px;
      }

      svg {
        width: 27px;
        height: 27px;

        cursor: pointer;

        box-sizing: border-box;
        transition: border 1s ease-in-out;

        outline: 0px;

        @media screen and (max-width: 900px) {
          height: 15px;
          width: 15px;
        }

        &:hover {
          outline: 1px solid #fff;
          outline-offset: 2px;
        }
      }
    }

    .address {
      margin-top: 10px;
      font-weight: 700;

      span {
        display: block;
        margin-top: 10px;
      }
    }
  }

  position: relative;
  .Copyright {
    position: absolute;
    bottom: 30px;
  }
}

.footer-legal,
.footer-shipping {
  @media screen and (max-width: 900px) {
    display: none;
  }
}
