.footer {
  height: 46.4rem;
  padding: 8rem 15rem;
  background-color: #008ecc;

  color: #fff;
  font-size: 1.8rem;

  display: flex;
  justify-content: space-between;
  .contacts {
    flex-basis: 30rem;
    .logo-container {
      display: flex;
      align-items: center;
      gap: 5px;

      cursor: pointer;

      svg {
        transform: rotate(0deg) scale(0.8);

        transition: transform 0.5s ease-in-out;
        &:hover {
          transform: rotate(360deg) scale(0.8);
        }
      }
      span {
        font-size: 2.5rem;
        font-weight: 700;
      }
    }

    .socials-container {
      margin-top: 30px;

      display: flex;
      justify-content: space-between;

      svg {
        width: 27px;
        height: 27px;

        cursor: pointer;

        box-sizing: border-box;
        transition: border 1s ease-in-out;

        outline: 0px;

        &:hover {
          outline: 1px solid #fff;
          outline-offset: 2px;  
        }
      }
    }

    .address {
      margin-top: 10px;
      font-weight: 700;
      span {
        display: block;
        margin-top: 10px;
      }
    }
  }

  position: relative;
  .Copyright {
    position: absolute;
    bottom: 30px;
  }
}
