.cart-item {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;

  // max-height: 100px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  img {
    object-fit: cover;
    width: 100px;
  }

  .cart-item-info {
    h2 {
      font-size: 1.6rem;
    }
    span {
      font-size: 1.5rem;
    }
  }
}
